@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400&family=Poppins:ital,wght@0,200;0,300;0,500;1,300;1,400;1,700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none !important;
  color: black !important;
  font-weight: bolder;
}

button {
  color: rgb(103, 195, 243) !important;
  background-color: white !important;
  border: 1px solid rgb(103, 195, 243) !important;
  width: 10em !important;
}

#butt{
  color: white !important;
  border: 1px solid rgb(69, 143, 246) !important;
  background-color: rgb(69, 143, 246) !important;
}

li {
  list-style: none !important;
}

#customers {
  background: linear-gradient(to left, #67C3F3, #5A98F2) !important;
  border-radius: 20px !important;
  margin: auto !important;
}

#first {
  background-image: url(images/vector-1.png);
  background-repeat: no-repeat;
}

#second {
  background-image: url(images/vector.png);
  background-repeat: no-repeat;
  background-position-x: right;
  margin: auto !important;
}

#bottom{
  background: linear-gradient(to left, #67C3F3, #5A98F2) !important;
  text-align: left !important;
}

#one{
  background-image: url(images/element.png);
  background-repeat: no-repeat;
  background-position: left -50px top 0;
 }

 #right{
  background-image: url(images/element.png);
  background-repeat: no-repeat;
  background-position: right -50px top 0;
 }

 #customers{
  background-image: url(images/Group.png);
  background-repeat: no-repeat;
  /* background-position: right 50px top 0; */
 }

 .h-50{
   border-radius: 20px 20px 0 0;
 }

 .text-left{
   text-align: left;
 }

 h4{
   font-weight: bolder !important;
 }

 .circle{
   width: 100% !important;
   height: 50% !important;
   text-align: center !important;
   border-radius: 50% !important;
   padding: 5px;
 }